# Fitting a Logistic Regression Model - Lab

## Introduction
In the last lecture, you were given a broad overview of logistic regression. This included two seperate packages for creating logistic regression models. We'll first investigate building logistic regression models with 

## Objectives

You will be able to:
* Understand and implement logistic regression

## Review

The stats model example we covered had four essential parts:
    * Importing the data
    * Defining X and y
    * Fitting the model
    * Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
from patsy import dmatrices
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
y, X = dmatrices('Target ~ Age  + C(Race) + C(Sex)',
                  salaries, return_type = "dataframe")

#Step 3: Fitting the model
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

The `dmatrices()` method above mirrors the R languages syntax. The first parameter is a string representing the conceptual formula for our model. Afterwards, we pass the dataframe where the data is stored, as well as an optional parameter for the formate in which we would like the data returned. The general pattern for defining the formula string is: `y_feature_name ~ x_feature1_name + x_feature2_name + ... + x_featuren_name`. You should also notice that two of the x features, Race and Sex, are wrapped in `C()`. This indicates that these variables are *categorical* and that dummy variables need to be created in order to convert them to numerical quantities. Finally, note that y itself returns a Pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic**.

In [1]:
import pandas as pd
import statsmodels.api as sm

from patsy import dmatrices

In [3]:
data = pd.read_csv('titanic.csv')
data.head()

   PassengerId  Survived  Pclass                                               Name     Sex    ...     Parch            Ticket     Fare Cabin  Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male    ...         0         A/5 21171   7.2500   NaN         S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female    ...         0          PC 17599  71.2833   C85         C
2            3         1       3                             Heikkinen, Miss. Laina  female    ...         0  STON/O2. 3101282   7.9250   NaN         S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female    ...         0            113803  53.1000  C123         S
4            5         0       3                           Allen, Mr. William Henry    male    ...         0            373450   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

## Step 2: Define X and Y

For our first foray into logistic regression, we are going to attempt to build a model that classifies whether an indivdual survived the Titanic shiwrech or not (yes its a bit morbid). Follow the programming patterns described above to define X and y.

In [20]:
#features: Pclass, sex, age
y, X = dmatrices('Survived ~ C(Pclass) + C(Sex) + Age + SibSp + Fare + C(Embarked)', data, return_type='dataframe')

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"
Stats models was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertable due to not being full rank. In layman's terms, there was a lot of redundant superfulous data. Try removing some features from the model and running it again.

In [21]:
log_reg_model = sm.Logit(y, X)
result = log_reg_model.fit()

Optimization terminated successfully.
         Current function value: 0.444229
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [22]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                          Logit   Df Residuals:                      703
Method:                           MLE   Df Model:                            8
Date:                Fri, 08 Feb 2019   Pseudo R-squ.:                  0.3417
Time:                        17:00:44   Log-Likelihood:                -316.29
converged:                       True   LL-Null:                       -480.45
                                        LLR p-value:                 3.814e-66
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept            4.4240      0.534      8.277      0.000       3.376       5.472
C(Pclass)[T.2]      -1.2037      0.328     -3.675      0.000      -1.846      -0.562
C(Pclass)[T.3]      -2.4182      0.340     -7.119      0.000      -3.084      -1.752
C(Sex)[T.male]      -2.6163      0.218    -11.992      0.000      -3.044      -2.189
C(Embarked)[T.Q]    -0.8154      0.598     -1.363      0.173      -1.988       0.357
C(Embarked)[T.S]    -0.4047      0.274     -1.475      0.140      -0.943       0.133
Age                 -0.0433      0.008     -5.202      0.000      -0.060      -0.027
SibSp               -0.3794      0.125     -3.036      0.002      -0.624      -0.134
Fare                 0.0012      0.002      0.468      0.640      -0.004       0.006
====================================================================================
"""

## Your analysis here

Fare and Embarked features are not very significant.

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [23]:
y, X = dmatrices('Survived ~ C(Pclass) + C(Sex) + Age', data, return_type='dataframe')
log_reg_model = sm.Logit(y, X)
result = log_reg_model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.453279
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Fri, 08 Feb 2019   Pseudo R-squ.:                  0.3289
Time:                        17:02:57   Log-Likelihood:                -323.64
converged:                       True   LL-Null:                       -482.26
                                        LLR p-value:                 2.074e-67
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          3.7770      0.401      9.416      0.000       2.991       4.563
C(Pclass)[T.2]    -1.3098      0.278     -4.710      0.000      -1.855      -0.765
C(Pclass)[T.3]    -2.5806      0.281     -9.169      0.000      -3.132      -2.029
C(Sex)[T.male]    -2.5228      0.207    -12.164      0.000      -2.929      -2.116
Age               -0.0370      0.008     -4.831      0.000      -0.052      -0.022
==================================================================================
"""

## Summary 

Well done. In this lab we practiced using stats models to build a logistic regression model. We then reviewed interpreting the results, building upon our previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!